Package: mobilesubstrate
Priority: optional
Section: System
Maintainer: Jay Freeman (saurik) <saurik@saurik.com>
Architecture: iphoneos-arm
Version: 0.9.2554-1
Description: simpler DYLD_INSERT_LIBRARIES setup
Name: Mobile Substrate
Author: Jay Freeman (saurik) <saurik@saurik.com>
Tag: role::developer
Depiction: http://cydia.saurik.com/info/mobilesubstrate/
